<launch>
  <!-- This launch file is running odometry node and remaps main topics -->
  <!-- openni_launch must be started already and tf (base_link > camera_link should also exist) -->
    <node name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry" output="screen">
      <remap from="/rgb/image" to="/camera/rgb/image_rect_color" />
      <remap from="/depth/image" to="/camera/depth_registered/image_raw" />
      <remap from="/rgb/camera_info" to="/camera/rgb/camera_info" />
    </node>
</launch>
